@charset "UTF-8";

#contents_sub{
	width: 900px;
	height: auto;
	margin: auto;
	padding-top:30px;
	/* border: 1px solid red; */
}

.login_area{
	width: 750px;
	height:205px;
	/* border: 1px solid red; */
	margin:80px auto;
	background: url(../img/login_bg.png) no-repeat ;
	padding: 20px 70px;
}/* 너비가 750이지만 사실은 좌우 패딩이 70씩 지정되어 890이 최종 너비가된다.*/

.person_login{	/*일반회원*/
	float:left;
	width:290px;
}

.group_login{ /*단체회원*/
	float:right;
	width:290px;
}






.login{
	padding: 15px 0;
}

.sub_title{
	background: url(../img/sub_title.png) no-repeat;
	text-indent: -9999px
}
h2.title01{
	width: 290px;
	height:70px;
 	background-position: 0 -80px;
 	margin: 0px;
}
h2.title02{
	width: 290px;
	height:70px;
 	background-position: 0 -160px;
 	margin: 0px;
}
.login .input_area{
	float:left;
	width: 200px;
}

.login .input_area p{
	padding: 3px 0;
	margin: 0px;
}
.login .input_area p:first-child{
	padding-top: 0;
}
.login .input_area p label{
	display: inline-block;
	width:55px;
	background: url(../img/bult.png) no-repeat 0 -74px;
	padding-left: 10px;
}


.login .input_area p input{
	width: 110px;
	border:1px solid #ccc;
	border-radius: 3px;
	height: 14px;
	padding : 5px;
}

.login label{
	font-size:12px;
}

.login_search{
	margin-top: 10px;
	border-top:2px solid #efefef;
	padding: 10px 0;
	position: relative;
}







.tit02{
	/* height: 500px;
	 width: 500px;  */
	 height: 30px; 
	 width: 132px; 
	/* background: url(../img/sub_title.png) no-repeat 0 0px !important; */
	 background: url(../img/sub_title.png) no-repeat 0 -48px !important; 
	
}

