@charset "UTF-8";

#header li a .menu{
	color: #fff;
	font-weight: bold;
}

/**********************
  콘텐츠 영역
***********************/
div.contents_sub{
	width: 900px;
	height: auto;
	margin: auto;
	padding-top: 30px;
}


/*탭 영역*/
.tab_type01{
	padding: 10px 0;
}
.tab_type01 ul li{
	
	border: 1px solid #767676;
	border-right: 1px solid #fff; 
	float: left;
	width: 298px; /* 너비를 300으로 예상하지만 왜 수치를 298로 명시했냐면
		오른쪽과 왼쪽에 보더가 1씩 있으므로 보더의 두께까지 합치면 300
		이 된다. */
	height:35px;
	background-color: #767676;
}

/*탭 문자열의 크기 15, 두껍게 표현하고 가운데 맞춰서 흰색으로 표현*/
.tab_type01 ul li>a{
	display: block;

	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	
	
	width: 298px;
	line-height: 35px;
 	 
}

.tab_type01 ul li.selected{/*선택된 탭*/
	background-color: #fff;
	border-top: 1px solid #767676;
	border-bottom: none;
}
.tab_type01 ul li.selected>a{
	/*선택된 탭의 a태그*/
	color: #ff4f00;
}
.tab_cont{
	padding-top: 30px;
	line-height: 1.5em;
	display: none;
}


.show{
	display: block; /* 보여짐 */
}