<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
   
   <context:annotation-config/>     
        
   <context:property-placeholder 
   location="classpath:jdbc.properties"/>     

	<bean id="ds" 
	class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" 
			value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.pwd}"/>
		<property name="maxActive" 
			value="${jdbc.maxActive}"/>
		<property name="maxIdle" 
			value="${jdbc.maxIdle}"/>
		<property name="minIdle" 
			value="${jdbc.minIdle}"/>
	</bean>
	
	<bean id="factory" 
	class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds"/>
		<property name="mapperLocations" 
			value="classpath:mybatis/mapper/*.xml"/>
	</bean>
	
	<!-- 사실 여기서 SqlSessionTemplate를 생성하지만
		우린  바로 DAO들을 정의하자! 이렇게 되면
		DAO들 안에서 factory를 멤버변수로 가져야 한다.
		하지만 Spring에서의 SqlSessionTemplate은
		자체에서 관리가 되므로 그렇게 쓰는 것이 아니다.
	-->
	<bean id="ss" 
	class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="factory"/>
	</bean>
	 
	
	<bean id="idao2" class="mybatis.dao.DAOManState" />
 
</beans>









